[
    [
        { "arg": "test-type", "val": "rr" },
        { "arg": "server-ifname", "val": "thisIfname" },
        { "arg": "wsize", "val": "64" },
        { "arg": "rsize", "val": "1024" },
        { "arg": "duration", "val": "120" },
        { "arg": "protocol", "val": "tcp" },
        { "arg": "nthreads", "val": "1" }
    ]
]
