name: faux-crucible-ci

on:
  pull_request:
    branches: [ master ]
    paths:
    - LICENSE
    - '**.md'
    - '.github/rulesets/**'
    - .github/workflows/run-crucible-tracking.yaml
    - .github/workflows/crucible-weekly-ci.yaml
    - .github/workflows/crucible-scheduled.yaml
    - .github/workflows/crucible-release-ci.yaml
    - .github/workflows/faux-crucible-release-ci.yaml
    - .github/workflows/faux-crucible-ci.yaml
    - .github/workflows/faux-ci.yaml
    - .github/workflows/crucible-release.yaml
    - 'docs/**'
    - 'spec/**'

jobs:
  call-core-release-crucible-ci:
    uses: perftool-incubator/crucible-ci/.github/workflows/faux-core-release-crucible-ci.yaml@main
